.layout{
  background-color: #2C394B;
  width: 100vw;

  nav{
    background-color: #082032;
    width: 100vw;
    height: 76px;
    position: fixed;
    z-index: 5;
    padding: 20px;
    color: #FDFCE5 !important;
    font-size: 24px;
    font-weight: 600;

    a {
      color: #FDFCE5;
    }

    a:hover {
      transition: ease-in-out 0.5s;
      color: #F4D19B;
    }
  }

  .content{
    padding-top: 76px;
  }
}